@inherits LayoutComponentBase

<ErrorBoundary>
	<ChildContent>
		<main>
			@Body
		</main>
	</ChildContent>
	<ErrorContent>
		@{
			NavMgr.NavigateTo("/error", true);
		}
	</ErrorContent>
</ErrorBoundary>
