################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ZData/ZData00/.vs/ZData00/FileContentIndex
